.python-version
*.pyc
*.egg-info
/venv/

.*.swp
*.temp

.clerk/
.clj-kondo/
.cpcache/
.nrepl-port
.env
.envrc
.htauth.csv

/classes
/oxygen/framework/rng/
/oxygen/plugin/lib/
/oxygen/VERSION
/public/
/publish/backup
/wb/
