[submodule "schema"]
	path = schema
	url = https://telotawebdev.bbaw.de/gitea/zdl/lex-schema.git
[submodule "wikimedia/dkpro-jwktl"]
	path = wikimedia/dkpro-jwktl
	url = https://github.com/dkpro/dkpro-jwktl.git
