target
classes
checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port
.cpcache

version.edn
zdl-lex-config.edn

.idea
*.iml

.python-version
*.pyc
*.egg-info

.*.swp

data/
config.local.edn
ansible/.vagrant
ansible/*.retry
ansible/files/api/
ansible/roles/*.*
docker/*/*.jar
vendor/

client/tmp

oxygen/framework/rng/
oxygen/plugin/lib/

schema/rng

venv/

wikimedia/data/

publish/backup
wikimedia/wikimedia-dumps/
wikimedia/reports/

.env