{:paths ["src" "../oxygen/framework/rng"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/data.csv {:mvn/version "0.1.4"}
  org.zdl.lex/common {:local/root "../common"}}
 :aliases
 {:dev
  {:extra-deps {uberdeps {:mvn/version "0.1.4"
                          :exclusions [org.slf4j/slf4j-nop commons-logging]}}}
  :prod
  {:extra-paths ["classes"]}
  :compile
  {:extra-paths ["build"]
   :main-opts ["-m compile"]}
  :package
  {:extra-paths ["build"]
   :main-opts ["-m" "package"]}}}
