{
 :log-level :info

 :log-config {:ns-blacklist ["org.apache.http.*"
                             "org.eclipse.jgit.*"]}

 ;; "/var/zdl-lex-server"
 :data-dir "../data"

 ;; {:port 8080}
 :http-server-opts {:port 3000}

 ;; "http://192.168.33.10/solr"
 :solr-base "http://localhost:8983/solr"

 :solr-core "articles"

 ;; {:basic-auth ["admin" "admin"]}
 :solr-req {}

 ;; "admin"
 :anon-user "nobody"

 ;; check for git changes every 10 seconds
 :git-commit-interval 10000

 ;; sync all articles to Solr every day
 :solr-sync-interval 86400000}
