{:log-level :info

 :log-config {:ns-blacklist ["org.apache.http.*"
                             "org.eclipse.jgit.*"]}

 ;; "https://lex.dwds.de/articles"
 :webdav-base "http://spock.dwds.de:8080/exist/webdav/db/dwdswb/data"

 ;; "/var/zdl-lex-server"
 :data-dir "../data"

 ;; {:port 8080}
 :http-server-opts {:port 3000}

 ;; "http://192.168.33.10/solr"
 :solr-base "http://localhost:8983/solr"

 :solr-core "articles"

 ;; {:basic-auth ["admin" "admin"]}
 :solr-req {}

 ;; http://localhost:8080/exist
 :exist-base "http://spock.dwds.de:8080/exist"

 ;; {:basic-auth ["admin" ""]}
 :exist-req {}

 :mantis-url "http://odo.dwds.de/mantis"

 :mantis-user "zdl-lex"

 :mantis-password "zdl-lex"

 ;; LEX
 :mantis-project 5

 ;; "admin"
 :anon-user "nobody"}
