{:local #include #join [#env PWD "/config.local.edn"]

 :exist #merge
 [{:url "http://spock.dwds.de:8080/exist"
   :user nil
   :password nil
   :collection "/db/dwdswb"}
  #ref [:local :exist]]

 :basex #merge
 [{:url "http://localhost:8984"
   :user nil
   :password nil
   :collection "/db/dwdswb"}
  #ref [:local :basex]]

 :log #merge
 [{:level :info}
  #ref [:local :log]]}
 
