<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "../plugin.dtd">
<plugin
    id="zdl-lex-client"
    name="ZDL-Lex-Client"
    description="Access to lexikographic resources of the ZDL"
    version="1.2.4"
    vendor="BBAW"
    class="de.zdl.oxygen.Plugin"
    classLoaderType="preferReferencedResources">

 <runtime>
   <library name="${system(user.dir)}/target/uberjar/zdl-lex-client.jar"/>
 </runtime>

 <extension
     type="WorkspaceAccess"
     class="de.zdl.oxygen.ReplExtension"/>

 <extension
     type="WorkspaceAccess"
     class="de.zdl.oxygen.ViewExtension"/>

 <view id="zdl-lex-client" initialSide="EAST" initialRow="0"/>

 <toolbar id="zdl-lex-client" initialSide="SOUTH" initialRow="0"/> 
</plugin>
