{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}

  ;; Code in common with client and other components
  org.zdl.lex/common {:local/root "../common"}

  ;; Data handling
  org.clojure/data.csv {:mvn/version "0.1.4"}}
 :aliases
 {:prod
  {:extra-paths ["classes"]}}}
