{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}

  ;; Code in common with client and other components
  org.zdl.lex/common {:local/root "../common"}

  ;; Data handling
  org.clojure/data.codec {:mvn/version "0.1.1"}
  org.clojure/data.csv {:mvn/version "0.1.4"}

  ;; Data formats
  cheshire/cheshire {:mvn/version "5.9.0"}
  hiccup/hiccup {:mvn/version "1.0.5"}

  ;; Embedded RDBMS h2
  com.h2database/h2 {:mvn/version "1.4.199"}
  com.layerware/hugsql {:mvn/version "0.4.9"}

  ;; Ring/HTTP
  ring/ring-core {:mvn/version "1.7.1"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  ring/ring-jetty-adapter {:mvn/version "1.7.1"}

  ;; Metosin Ring/HTTP extensions
  metosin/muuntaja {:mvn/version "0.6.3"}
  metosin/reitit {:mvn/version "0.3.9"}
  metosin/ring-http-response {:mvn/version "0.9.1"}

  ;; Ring/HTTP authentication
  buddy/buddy {:mvn/version "2.0.0"}

  ;; Webjar-based Assets
  ring-webjars {:mvn/version "0.2.0"
                :exclusions [org.webjars/webjars-locator]}
  org.webjars.npm/bulma {:mvn/version "0.7.4"}
  org.webjars.npm/material-icons {:mvn/version "0.3.0"}
  org.webjars/webjars-locator-core {:mvn/version "0.41"
                                    :exclusions [org.webjars.npm/angular__http]}

  ;; Classpath access (for embedded OxygenXML client components)
  io.github.classgraph/classgraph {:mvn/version "4.8.50"}

  ;; Runtime metrics
  audiogum/metrics-clojure {:mvn/version "3.0.0"}
  audiogum/metrics-clojure-jvm {:mvn/version "3.0.0"}

  ;; JanusGraph DB
  org.janusgraph/janusgraph-berkeleyje {:mvn/version "0.5.1"}
  org.janusgraph/janusgraph-lucene {:mvn/version "0.5.1"}
  clojurewerkz/ogre {:mvn/version "3.4.6.0"}

  ;; SOAP-support (for Mantis Issue Tracker API)
  io.xapix/clj-soap {:mvn/version "1.1.0"
                     :exclusions [javax.servlet/servlet-api]}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps
   {zdl/ots-nlp-pipeline {:git/url "git@git.zdl.org:zdl/ots-nlp-pipeline.git"
                          :sha "e3423b81e1fd62fcf8d17acdc684129db886229a"}}}
  :prod
  {:extra-paths ["classes" "../oxygen" "../cli/build"]}}}
