{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/data.codec {:mvn/version "0.1.1"}
  org.clojure/data.csv {:mvn/version "0.1.4"}
  org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
  org.clojure/data.zip {:mvn/version "0.1.1"}
  com.h2database/h2 {:mvn/version "1.4.199"}
  com.layerware/hugsql {:mvn/version "0.4.9"}
  io.github.classgraph/classgraph {:mvn/version "4.8.50"}

  io.xapix/clj-soap {:mvn/version "1.1.0"
                     :exclusions [javax.servlet/servlet-api]}
  metosin/muuntaja {:mvn/version "0.6.3"}
  metosin/reitit {:mvn/version "0.3.9"}
  metosin/ring-http-response {:mvn/version "0.9.1"}
  ring/ring-core {:mvn/version "1.7.1"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  ring/ring-jetty-adapter {:mvn/version "1.7.1"}
  org.webjars.npm/bulma {:mvn/version "0.7.4"}
  org.webjars.npm/material-icons {:mvn/version "0.3.0"}
  org.webjars/webjars-locator-core {:mvn/version "0.41"}
  cheshire {:mvn/version "5.9.0"}
  clj-http {:mvn/version "3.9.1"
            :exclusions [commons-logging]}
  clj-jgit {:mvn/version "1.0.0-beta2"}
  hiccup {:mvn/version "1.0.5"}
  ring-logger-timbre {:mvn/version "0.7.6"}
  ring-webjars {:mvn/version "0.2.0"
                :exclusions [org.webjars/webjars-locator]}
  org.zdl.lex/common {:local/root "../common"}}
 :aliases
 {:dev
  {:extra-deps {uberdeps {:mvn/version "0.1.4"
                          :exclusions [org.slf4j/slf4j-nop commons-logging]}}}
  :test
  {:extra-paths ["test"]
   :extra-deps {faker {:mvn/version "0.2.2"}}}
  :prod
  {:extra-paths ["classes" "../oxygen"]}
  :compile
  {:extra-paths ["build"]
   :main-opts ["-m compile"]}
  :package
  {:extra-paths ["build"]
   :main-opts ["-m" "package"]}}}
