{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}

  ;; Code in common with client and other components
  org.zdl.lex/common {:local/root "../common"}

  ;; Data handling and formats
  org.clojure/data.csv {:mvn/version "0.1.4"}
  hiccup/hiccup {:mvn/version "1.0.5"}

  ;; Embedded RDBMS h2
  com.h2database/h2 {:mvn/version "1.4.199"}
  com.layerware/hugsql {:mvn/version "0.4.9"}

  ;; Metosin Ring/HTTP
  metosin/reitit {:mvn/version "0.5.12"}

  ;; Classpath access (for embedded OxygenXML client components)
  io.github.classgraph/classgraph {:mvn/version "4.8.50"}

  ;; Runtime metrics
  audiogum/metrics-clojure {:mvn/version "3.0.0"}
  audiogum/metrics-clojure-jvm {:mvn/version "3.0.0"}

  ;; SOAP-support (for Mantis Issue Tracker API)
  io.xapix/clj-soap {:mvn/version "1.1.0"
                     :exclusions [javax.servlet/servlet-api]}}

 :aliases
 {:test
  {:extra-paths ["test"]}
  :prod
  {:extra-paths ["classes" "../oxygen" "../cli/build"]}
  :server
  {:exec-fn zdl.lex.server/-main}}}
