<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "../plugin.dtd">
<plugin
    id="dwdsox"
    name="DWDSoXPlugin"
    description="Access to DWDS documents at the DWDS eXist database"
    version="1.2.4"
    vendor="BBAW"
    class="dwdsox.plugin.DWDSoXPlugin">

 <runtime>
   <library name="${system(user.dir)}/target/uberjar/oxygen-extensions.jar"
            scope="global"/>
 </runtime>

 <extension
     type="WorkspaceAccess"
     class="dwdsox.plugin.DWDSoXPluginExtension"/>

 <extension
     type="WorkspaceAccess"
     class="dwdsox.repl_plugin"/>

 <toolbar id="DWDSoXPluginExtensionToolbar"
          initialSide="NORTH" initialRow="2"/>
</plugin>
