{:zdl.lex.client.issue/events      {}
 :zdl.lex.client.links/events      {}
 :zdl.lex.client.repl/server       {:port 3001}
 :zdl.lex.client.search/events     {}
 :zdl.lex.client.results/events    {}
 :zdl.lex.client.toolbar/events    {}
 :zdl.lex.client.validation/events {}
 :zdl.lex.server.article.lock/db   {}
 :zdl.lex.server.git/repo          {:origin #dotenv "ZDL_LEX_GIT_ORIGIN"
                                    :branch #or [#dotenv "ZDL_LEX_GIT_BRANCH" "zdl-lex-server/development"]
                                    :dir    #or [#dotenv "ZDL_LEX_GIT_DIR" "data/git"]}
 :zdl.lex.server.http/server       {:git-repo #ig/ref :zdl.lex.server.git/repo
                                    :lock-db  #ig/ref :zdl.lex.server.article.lock/db
                                    :schedule #ig/ref :zdl.lex.server.task/schedule
                                    :port     #long #or [#dotenv "ZDL_LEX_HTTP_PORT" "3000"]}
 :zdl.lex.server.issue/db          {:dbtype   "mysql"
                                    :host     #or [#dotenv "ZDL_LEX_MANTIS_DB_HOST" "mantis.dwds.de"]
                                    :port     #long #or [#dotenv "ZDL_LEX_MANTIS_DB_PORT" "3306"]
                                    :dbname   #or [#dotenv "ZDL_LEX_MANTIS_DB_NAME" "mantis_bugtracker"]
                                    :username #or [#dotenv "ZDL_LEX_MANTIS_DB_USER" "mantis"]
                                    :password #or [#dotenv "ZDL_LEX_MANTIS_DB_PASSWORD" "mantis"]}
 :zdl.lex.server.metrics/reporter  {:interval #long #or [#dotenv "ZDL_LEX_METRICS_REPORT_INTERVAL" "5"]}
 :zdl.lex.server.task/schedule     {:git-repo #ig/ref :zdl.lex.server.git/repo
                                    :issue-db #ig/ref :zdl.lex.server.issue/db
                                    :lock-db  #ig/ref :zdl.lex.server.article.lock/db}}
