[Unit]
Description=ZDL-Lex-Server
After=network.target

[Service]
Type=simple
User=lex
WorkingDirectory=/home/lex
UMask=0002
Environment=TIMBRE_LEVEL=:info
Restart=on-failure
ExecStart=/usr/bin/java -jar -Dconf=zdl-lex-server.config.edn zdl-lex-server.jar

[Install]
WantedBy=multi-user.target