[Unit]
Description=ZDL-Lex-Server
After=network.target

[Service]
Type=simple
User=lex
WorkingDirectory=/home/lex
UMask=0002
Restart=on-failure
ExecStart=/usr/bin/java -jar zdl-lex-server.jar

[Install]
WantedBy=multi-user.target