[Unit]
Description=ZDL-Lex-Server
After=network.target

[Service]
Type=simple
User=lex
WorkingDirectory=/home/lex
UMask=0002
EnvironmentFile=/home/lex/zdl-lex-server.config.env
Restart=on-failure
ExecStart=/usr/bin/java -cp zdl-lex-server.jar clojure.main -m zdl-lex-server.core

[Install]
WantedBy=multi-user.target