{:paths ["src", "../oxygen/framework"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/core.async {:mvn/version "0.4.490"}

  ;; Data handling
  org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
  org.clojure/data.zip {:mvn/version "0.1.1"}

  ;; Data formats (XML)
  zdl/clj-zdl-xml {:git/url "git@git.zdl.org:zdl/clj-zdl-xml.git"
                   :sha "07b844a24817fa61553e96e91715c30c43ee83c4"}

  ;; Specs, randomized testing
  metosin/spec-tools {:mvn/version "0.10.0"}
  org.clojure/test.check {:mvn/version "0.9.0"}

  ;; Tools
  org.clojure/tools.cli {:mvn/version "0.4.2"}
  org.clojure/tools.logging {:mvn/version "1.0.0"}
  instaparse/instaparse {:mvn/version "1.4.10"}
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.1"}

  ;; Infrastruture (HTTP client, cron scheduling, state management)
  clj-http/clj-http {:mvn/version "3.9.1"
                     :exclusions [commons-logging/commons-logging]}
  cronjure/cronjure {:mvn/version "0.1.1"}
  mount/mount {:mvn/version "0.1.16"}

  ;; Configuration via .env
  io.github.cdimascio/dotenv-java {:mvn/version "2.2.0"}

  ;; Logging
  org.slf4j/jcl-over-slf4j {:mvn/version "1.7.30"}
  org.slf4j/slf4j-log4j12 {:mvn/version "1.7.30"}}

 :aliases {:test {:extra-paths ["test"]}}}
