{:paths ["src", "../oxygen/framework"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/core.async {:mvn/version "0.4.490"}
  org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
  org.clojure/data.zip {:mvn/version "0.1.1"}
  org.clojure/test.check {:mvn/version "0.9.0"}
  org.clojure/tools.cli {:mvn/version "0.4.2"}
  org.clojure/tools.logging {:mvn/version "1.0.0"}
  gremid/lucene-query {:mvn/version "0.1.1"}
  me.raynes/fs {:mvn/version "1.4.6"}
  metosin/spec-tools {:mvn/version "0.10.0"}
  cronjure {:mvn/version "0.1.1"}
  environ {:mvn/version "1.1.0"}
  mount {:mvn/version "0.1.16"}
  zdl/clj-zdl-xml {:git/url "git@git.zdl.org:zdl/clj-zdl-xml.git"
                   :sha "4fd84e2e3b03f3cd1a2ce64778d7058024909376"}}}
