[{:type :meta,
  :title "Autor",
  :xpath "@Autor",
  :values
  ["ast"
   "Ast"
   "billes"
   "brockmeier"
   "brosch"
   "DWDS"
   "ermakova"
   "fuhrmann"
   "geyken"
   "goettel"
   "grimm"
   "herold"
   "lemnitzer"
   "loos"
   "mschulze"
   "pfeiffer"
   "roll"
   "schrader"
   "schroeder"
   "siebel"
   "solf"
   "unger"
   "wahrig"]}
 {:type :meta,
  :title "Quelle",
  :xpath "@Quelle",
  :values
  ["Duden_1999"
   "Duden_1999/DWDS"
   "DWDS"
   "DWDS_auto"
   "EtymWB"
   "Wahrig/DWDS"
   "WDG"
   "WDG/DWDS"
   "WDG/ZDL"
   "ZDL"]}
 {:type :meta,
  :title "Status",
  :xpath "@Status",
  :values
  ["Artikelrumpf"
   "Lex-in_Arbeit"
   "Lex-kommentiert"
   "Lex-Wiedervorlage"
   "Lex-zur_Abgabe"
   "Lex-zurückgestellt"
   "Red-1"
   "Red-2"
   "Red-ex"
   "Red-f"
   "Red-f-zurückgewiesen"
   "wird_Vollartikel"]}
 {:type :meta,
  :title "Tranche",
  :xpath "@Tranche",
  :values
  ["001"
   "002"
   "003"
   "004"
   "005"
   "006"
   "007"
   "008"
   "009"
   "010"
   "011"
   "012"
   "013"
   "014"
   "Adjektive"
   "Adverben"
   "Architektur"
   "Bildung"
   "Biologie"
   "Diverse"
   "Diverse2"
   "Diverse3"
   "Diverse4"
   "Duden1999/DWDS"
   "Duden_1999/DWDS"
   "Duden_99/DWDS"
   "DWDS/Wahrig"
   "Ernährung"
   "Geo"
   "Gesellschaft"
   "IT"
   "IT2"
   "Kommunikation"
   "Kunst"
   "Kunst2"
   "Medien"
   "Mehrwortausdrücke"
   "Mix"
   "Philosophie"
   "Politik1a"
   "Politik1b"
   "Probeartikel"
   "Recht"
   "Recht2"
   "Recht3"
   "Recht_neu"
   "Religion"
   "Spiel"
   "TV"
   "Verben"
   "Verkehr"
   "Wahrig/DWDS"
   "Wahrig/DWDS-2"]}
 {:type :meta,
  :title "Typ",
  :xpath "@Typ",
  :values
  ["Abkürzung"
   "Antonym"
   "AR_G"
   "Assoziation"
   "Basis"
   "Basisartikel"
   "Basisartikel-D"
   "Binnenglied"
   "deadjektivisch"
   "Derivation"
   "deverbal"
   "Diminutiv"
   "Entsprechung"
   "Enzyklopädie"
   "Erstglied"
   "Etymologie"
   "formal_verwandt"
   "Generalisierung"
   "Grundform"
   "Hauptform"
   "Hyperonym"
   "Hyponym"
   "Komposition"
   "Konversion"
   "Kurzform"
   "Kurzwortbildung"
   "Letztglied"
   "lexikalisierte_Flexionsform"
   "Meta"
   "Minimalartikel"
   "Movierung"
   "Nebenform"
   "neoklassische_Bildung"
   "NR_G"
   "Rückbildung"
   "Simplex"
   "Spezifizierung"
   "Synonym"
   "U"
   "U_AT"
   "U_CH"
   "U_NR"
   "U_U"
   "Verweisartikel"
   "vgl"
   "Vollartikel"
   "zu"
   "Zusammenrückung"]}
 {:type :meta, :title "Wortfeld", :xpath "@Wortfeld", :values []}
 {:type [],
  :title "Schreibung",
  :xpath "*:Formangabe/*:Schreibung",
  :values :content}
 {:type :content,
  :title "Unterlesarten",
  :xpath "descendant::*:Lesart//*:Lesart",
  :values ["*"]}
 {:type :content,
  :title "Definition",
  :xpath "descendant::*:Definition",
  :values []}
 {:type :content,
  :title "Definition[Basis]",
  :xpath "descendant::*:Definition[@Typ='Basis']",
  :values []}
 {:type :content,
  :title "Definition[Meta]",
  :xpath "descendant::*:Definition[@Typ='Meta']",
  :values []}
 {:type :content,
  :title "Definition[General.]",
  :xpath "descendant::*:Definition[@Typ='Generalisierung']",
  :values []}
 {:type :content,
  :title "Definition[Spez.]",
  :xpath "descendant::*:Definition[@Typ='Spezifizierung']",
  :values []}
 {:type :content,
  :title "Definition[Enzykl.]",
  :xpath "descendant::*:Definition[@Typ='Enzyklopädie']",
  :values []}
 {:type :content,
  :title "Bedeutungsebene",
  :xpath
  "descendant::*:Diasystematik[parent::*:Formangabe|parent::*:Lesart]/*:Bedeutungsebene",
  :values
  ["allgemeiner"
   "biblisch"
   "bildlich"
   "im Bild"
   "metonymisch"
   "spezieller"
   "sprichwörtlich"
   "vergleichend"
   "übertragen"]}
 {:type :content,
  :title "Fachgebiet",
  :xpath
  "descendant::*:Diasystematik[parent::*:Formangabe|parent::*:Lesart]/*:Fachgebiet",
  :values
  ["Akustik"
   "Alchemie"
   "Alpinistik"
   "Anatomie"
   "Angelsport"
   "Anthropologie"
   "Anthroposophie"
   "antike Literaturwissenschaft"
   "antike Metrik"
   "antike Philosophie"
   "antike Religion"
   "antike Rhetorik"
   "antike Verslehre"
   "Arbeitsmedizin"
   "Arbeitsrecht"
   "Arbeitswelt"
   "Arbeitswissenschaft"
   "Architektur"
   "Archäologie"
   "Astrologie"
   "Astronomie"
   "Atomphysik"
   "Augenoptik"
   "Automobilsport"
   "Badminton"
   "Bakteriologie"
   "Ballett"
   "Ballistik"
   "Ballspiel"
   "Bankwesen"
   "Baseball"
   "Basketball"
   "Bautechnik"
   "Bauwesen"
   "Bergbau"
   "Bergsport"
   "Bergsteigen"
   "Berufssport"
   "Betriebswirtschaft"
   "Bibliothekswesen"
   "bildende Kunst"
   "Bildhauerei"
   "Bildungswesen"
   "Billard"
   "Binnenschifffahrt"
   "Biochemie"
   "Biologie"
   "Biotechnologie"
   "Blumenbinderei"
   "Bobsport"
   "Bodenkunde"
   "Botanik"
   "Bowling"
   "Boxen"
   "Brauchtum"
   "Brauerei"
   "Bridge"
   "Buchbinderei"
   "Buchführung"
   "Buchhandel"
   "Buchwesen"
   "Buddhismus"
   "Budo"
   "Bäckerei"
   "Börsenwesen"
   "Böttcherei"
   "Bühnentechnik"
   "Bürowesen"
   "Catchen"
   "Chemie"
   "chemische Technik"
   "christliche Kirche"
   "christliche Religion"
   "christliche Theologie"
   "christlicheKirche"
   "Computerspiel"
   "Curling"
   "Dachdeckerei"
   "Deichbau"
   "Demoskopie"
   "Denkmalpflege"
   "Dichtkunst"
   "Diplomatie"
   "Dokumentation"
   "Domino"
   "Dressurreiten"
   "Druckerei"
   "Druckwesen"
   "EDV"
   "Eisenbahn"
   "Eishockey"
   "Eiskunstlauf"
   "Eislauf"
   "Eisschnelllauf"
   "Eissegeln"
   "Elektroakustik"
   "Elektrodynamik"
   "Elektronik"
   "elektronische Musik"
   "Elektrotechnik"
   ...]}
 {:type :content,
  :title "Gebrauchszeitraum",
  :xpath
  "descendant::*:Diasystematik[parent::*:Formangabe|parent::*:Lesart]/*:Gebrauchszeitraum",
  :values
  ["DDR" "früher" "historisch" "nazistisch" "veraltend" "veraltet"]}
 {:type :content,
  :title "Gruppensprache",
  :xpath
  "descendant::*:Diasystematik[parent::*:Formangabe|parent::*:Lesart]/*:Gruppensprache",
  :values
  ["Amtssprache"
   "Bergmannssprache"
   "Druckersprache"
   "Fliegersprache"
   "Gaunersprache"
   "Gewerbesprache"
   "Imkersprache"
   "Jargon"
   "Journalistensprache"
   "Jugendsprache"
   "Jägersprache"
   "Kaufmannssprache"
   "Kindersprache"
   "Politikersprache"
   "Rechtssprache"
   "Schülersprache"
   "Seemannssprache"
   "Soldatensprache"
   "Studentensprache"
   "Verwaltungssprache"
   "Werbesprache"
   "Winzersprache"]}
 {:type :content,
  :title "Sprachraum",
  :xpath
  "descendant::*:Diasystematik[parent::*:Formangabe|parent::*:Lesart]/*:Sprachraum",
  :values
  ["alemannisch"
   "badisch"
   "bayrisch"
   "berlinisch"
   "hessisch"
   "jiddisch"
   "landschaftlich"
   "mecklenburgisch"
   "mitteldeutsch"
   "norddeutsch"
   "nordostdeutsch"
   "nordwestdeutsch"
   "obersächsisch"
   "ostdeutsch"
   "ostmitteldeutsch"
   "ostniederdeutsch"
   "ostpreußisch"
   "ostösterreichisch"
   "pfälzisch"
   "preußisch"
   "regional"
   "rheinisch"
   "schlesisch"
   "schweizerisch"
   "schwäbisch"
   "sächsisch"
   "süddeutsch"
   "südostösterreichisch"
   "südtirolerisch"
   "südwestdeutsch"
   "tirolisch"
   "westdeutsch"
   "westmitteldeutsch"
   "westösterreichisch"
   "wienerisch"
   "österreichisch"]}
 {:type :content,
  :title "Stilebene",
  :xpath
  "descendant::*:Diasystematik[parent::*:Formangabe|parent::*:Lesart]/*:Stilebene",
  :values
  ["bildende Kunst"
   "bildungssprachlich"
   "christliche Kirche"
   "fachsprachlich"
   "Funk"
   "gehoben"
   "gemeinsprachlich"
   "katholische Kirche"
   "mundartlich"
   "salopp"
   "umgangssprachlich"
   "vulgär"]}
 {:type :content,
  :title "Stilfärbung",
  :xpath
  "descendant::*:Diasystematik[parent::*:Formangabe|parent::*:Lesart]/*:Stilfaerbung",
  :values
  ["abwertend"
   "altertümelnd"
   "anerkennend"
   "derb"
   "dichterisch"
   "diskriminierend"
   "emotional"
   "familiär"
   "gespreizt"
   "höflich"
   "ironisch"
   "papierdeutsch"
   "scherzhaft"
   "Schimpfwort"
   "spöttisch"
   "verhüllend"
   "verstärkend"
   "vertraulich"
   "verächtlich"
   "volkstümlich"
   "übertrieben"]}
 {:type :content,
  :title "morphologische Links",
  :xpath "self::*:Artikel/*:Verweise/*:Verweis/*:Ziellemma",
  :values []}
 {:type :content,
  :title "semantische Links",
  :xpath "descendant::*:Lesart/*:Verweise/*:Verweis/*:Ziellemma",
  :values []}]
