/* Grundidee: alles als Block-Level-Element anzeigen, außer gemischte Inhalte */

* {
	display: block; /* Inline-Textauszeichnungen müssen separat beschrieben werden! */
	clear: both;
	padding: 0;
	margin: 0;
	font-size: 1em;
	white-space: normal; /* TODO: wollen wir eigentlich nicht */
}

/* Farbmarkierungen für Artikelstatus */

DWDS {
	font-family: Unifont, Arial, sans-serif;
	font-weight: normal;
}
Artikel                                { border-left: 15px solid #fff; }
Artikel[Status="Artikelrumpf"]         { border-left: 15px solid rgba(255, 0, 0, 0.5); }
Artikel[Status="Lex-zurückgestellt"]   { border-left: 15px dashed rgba(255, 0, 0, 0.3); }
Artikel[Status="Lex-zur_Abgabe"]       { border-left: 15px solid rgba(255, 128, 0, 0.5); }
Artikel[Status="Lex-Regioprüfung"]     { border-left: 15px dashed rgba(255, 128, 0, 0.5); }
Artikel[Status="Red-1"]                { border-left: 15px solid rgba(255, 255, 0, 0.5); }
Artikel[Status="Red-2"]                { border-left: 15px solid rgba(0, 255, 0, 0.3); }
Artikel[Status="Red-f"]                { border-left: 15px solid rgba(18, 90, 149, 0.5); }
Artikel[Status="Red-f-blockiert"]      { border-left: 15px dotted rgba(18, 90, 149, 0.5); }
Artikel[Status="wird_gestrichen"]      { border-left: 15px solid rgba(0, 0, 0, 0.3); }

/* Hauptblöcke, die als »Kasten« dargestellt werden */

Formangabe, Aussprache, Grammatik, Diachronie, Diasystematik, Verweise,
Syntagmatik, Verwendungsbeispiele, Lesart, Definition, Frequenzangabe,
Illustration, Beleg, Kollokation, Kompetenzbeispiel, Phrasem, Ueberschrift,
Rohdaten, Kollokationen, Rektionsmuster, Konstruktionsmuster, Kommentar,
Orthografie {
	border: 1px dotted #999;
	padding: 0.3em;
	margin: 0.5em 0.2em 0.5em 1.5em;
}

/* untergeordnete Blöcke, die als schmalere »Kästen« dargestellt werden */

Genitiv, Plural, Praesens, Praeteritum, Auxiliar, Partizip_II, Positivvariante, Komparativ, Superlativ {
	border-top: 1px dotted #999;
	/*border-bottom: 1px dotted #999;*/
	padding: 0em;
	margin: 0em 0em 0.1em 0em;
}

/* Labels für die Hauptblöcke */

Ueberschrift:before           { content: "Überschrift anstelle der Formangabe (!):"; }
Lesart > Formangabe:before    { -oxy-append-content: "Formbeschränkung"; }
Artikel > Formangabe:before   { -oxy-append-content: attr(Typ)"angabe "; }
Aussprache:before             { content: "Aussprache"; }
Grammatik:before              { content: "grammatische Angaben"; }
Diasystematik:before          { content: "Diasystematik"; }
Artikel>Verweise:before       { content: "synchrone Zerlegung"; }
Artikel>Orthografie:before       { content: "Orthografie"; }
Verweise[Typ]:before          { -oxy-append-content: " – " attr(Typ); }
Lesart Verweise:before        { content: "semantische und enzyklopädische Verweise"; }
Diachronie:before             { content: "Diachronie"; }
Definition:before             { content: "Definition (" attr(Typ) ")"; }
Artikel > Kommentar:before    { content: "Globaler Artikelkommentar:";}
Formangabe > Kommentar:before { content: "Formkommentar:";}
Grammatik > Kommentar:before  { content: "Grammatikkommentar:";}
Lesart > Kommentar:before     { content: "Lesartenkommentar (zur Pragmatik):";}
Frequenzangabe:before         { content: "Frequenz"; }
Syntagmatik:before            { content: "Syntagmatik"; }
Phrasem:before                { content: "Phrasem"; }
Rektionsmuster:before         { content: "Rektionsmuster"; }
Konstruktionsmuster:before    { content: "Konstruktionsmuster"; }
Kollokationen:before          { content: "Kollokationen"; }
Kollokation:before            { content: "Kollokation"; }
Verwendungsbeispiele:before   { content: "Verwendungsbeispiele"; }
Beleg:before                  { content: "Beleg"; }
Kompetenzbeispiel:before      { content: "Kompetenzbeispiel"; }
Illustration:before           { content: "Illustration"; }
Rohdaten:before               { content: "NLP-Rohdaten"; }

/* Einzelfelder, die als vertikale Liste dargestellt werden */

Formangabe >*:before, Aussprache > *:before,
Grammatik > *:before, Diachronie > *:before, Diasystematik > *:before,
Fundstelle:before, Belegtext:before,
Verweise > *:before, Verweis > *:before, Kollokation > *:before,
Rektionsmuster > *:before, Konstruktionsmuster > *:before,
Phrasem > *:before {
	color: gray;
}
Diasystematik > *, Grammatik > * {
	-oxy-prepend-content: attr(Frequenz)" ";
}

/* Darstellung der Labels */

Formangabe:before, Grammatik:before, Illustration:before,
Diachronie:before, Verweise:before, Diasystematik:before,
Syntagmatik:before, Syntagmatik > *:before, Ueberschrift:before,
Verwendungsbeispiele:before, Verwendungsbeispiele > *:before,
Kollokationen:before, Kollokationen > *:before, Rohdaten:before,
Lesart:before, Definition:before, Frequenzangabe:before, Kommentar:before,
Orthografie:before, Aussprache:before {
	color: black;
	background-color: #ddd;
	font-weight: normal;
	vertical-align: top;
 	-oxy-prepend-content: " ";
	-oxy-append-content: " ";
}
Definition, Frequenzangabe, Kommentar, Verweise, Ueberschrift {
	-oxy-prepend-content: " "; /* ein bisschen vom Label abrücken */
}

/* Labels für Einzelfelder */

Diasystematik > Fachgebiet:before                   { content: "Fachgebiet: "; }
Diasystematik > Stilebene:before                    { content: "Stilebene: "; }
Diasystematik > Stilfaerbung:before                 { content: "Stilfärbung: "; }
Diasystematik > Bedeutungsebene:before              { content: "Bedeutungsebene: "; }
Diasystematik > Gruppensprache:before               { content: "Gruppensprache: "; }
Diasystematik > Gebrauchszeitraum:before            { content: "Gebrauchszeitraum: "; }
Diasystematik > Sprachraum:before                   { content: "Sprachraum: "; }
Diasystematik > Sprachareal:before                  { content: "Sprachareal: "; }
IPA:before                                          { content: "IPA-Transkr.: ["}
IPA:after                                           { content: "] → (" attr(Audiodatei) ")"; }
Audio:before                                        { content: "Audio-Datei: "}
Auxiliar:before                                     { content: "Auxiliar: "; }
Wortklasse:before                                   { content: "Wortklasse: "; }
Wortklasse[Typ]:after                               { content: " (" attr(Typ) ")"; }
Wortbildung:before                                  { content: "Wortbildung: "; }
Genus:before                                        { content: "Genus: "; }
Genitiv:before                                      { content: "Gen. Sg.: "; }
Plural:before                                       { content: "Nom. Pl.: "; }
Artikelpraeferenz:before                            { content: "Artikelpräferenz: "; }
Praesens:before                                     { content: "3. Pers. Präs.: "; }
Praeteritum:before                                  { content: "3. Pers. Prät.: "; }
Partizip_II:before                                  { content: "Partizip II: "; }
Numerus:before                                      { content: "Numerus: "; }
Numeruspraeferenz:before                            { content: "Numeruspräferenz: "; }
Kasuspraeferenz:before                              { content: "Kasuspräferenz: "; }
reflexiv:before                                     { content: "reflexiv"; }
Positivvariante:before                              { content: "Positivvariante: "; }
Komparativ:before                                   { content: "Komparativ: "; }
Superlativ:before                                   { content: "Superlativ: "; }
Komparationspraeferenz:before                       { content: "Komparationspräferenz: "; }
indeklinabel:before                                 { content: "indeklinabel"; }
Funktionspraeferenz:before                          { content: "Funktionspräferenz: "; }
Einschraenkung:before                               { content: "sonstige Einschränkung: "; }
Orthografieregel:before                             { content: "§ "; }
Orthografie > Orthografieregel:before               { content: "Orthografieregel: § "; }
Belegtext:before                                    { content: "Belegtext: "; }
Fundstelle:before                                   { content: "Fundstelle: "; }
Kurztitel:before                                    { content: "Kurztitel: "; }
Datierung:before                                    { content: "Datierung: "; }
Etymologie:before                                   { content: "Etymologie: "; }
Formgeschichte:before                               { content: "Formgeschichte: "; }
Bedeutungsgeschichte:before                         { content: "Bedeutungsgeschichte: "; }
Diachronie>Verweise:before                          { content: "Querverweise: "; }
Verweise>Verweis[Typ="EtymWB"]:before               { content: "im EtymWB als ↗"; }
Verweise>Verweis[Typ="eWDG"]:before                 { content: "im (e)WDG als ↗"; }
Verweise>Verweis[Typ="WGd"]:before                  { content: "bei Wortgeschichte digital als ↗"; }
Verweise>Verweis[Typ="Assoziation"]:before          { content: "assoziativ verbunden mit ↗"; }
Verweise>Verweis[Typ="MWA"]:before                  { content: "auch in MWA ↗"; }
Verweise>Verweis[Typ="MWA-Zentralartikel"]:before   { content: "MWA-Zentralartikel ↗"; }
Verweise>Verweis[Typ="Synonym"]:before              { content: "Synonym ist ↗"; }
Verweise>Verweis[Typ="Synonym_MWA_Variante"]:before { content: "Synonym (MWA-zu-MWA-Variante) ist ↗"; }
Verweise>Verweis[Typ="Antonym"]:before              { content: "Antonym ist ↗"; }
Verweise>Verweis[Typ="Hyponym"]:before              { content: "Hyponym ist ↗"; }
Verweise>Verweis[Typ="Hyperonym"]:before            { content: "Hyperonym ist ↗"; }
Verweise>Verweis[Typ="Entsprechung"]:before         { content: "entspr. der Bed. von ↗"; }
Verweise>Verweis[Typ="Erstglied"]:before            { content: "Erstglied ist ↗"; }
Verweise>Eigenname[Typ="Erstglied"]:before          { content: "Erstglied ist (Eigenname) "; }
Verweise>Verweis[Typ="Binnenglied"]:before          { content: "Binnenglied ist ↗"; }
Verweise>Eigenname[Typ="Binnenglied"]:before        { content: "Binnenglied ist (Eigenname) "; }
Verweise>Verweis[Typ="Letztglied"]:before           { content: "Letztglied ist ↗"; }
Verweise>Eigenname[Typ="Letztglied"]:before         { content: "Letztglied ist (Eigenname) "; }
Verweise>Verweis[Typ="formal_verwandt"]:before      { content: "formal verwandt mit ↗"; }
Verweise>Eigenname[Typ="formal_verwandt"]:before    { content: "formal verwandt mit (Eigenname) "; }
Verweise>Verweis[Typ="Grundform"]:before            { content: "Grundform ist ↗"; }
Verweise>Eigenname[Typ="Grundform"]:before          { content: "Grundform ist (Eigenname) "; }
Verweise>Verweis[Typ="MWA-Konstituente"]:before     { content: "MWA-Konstituente ist ↗"; }
Verweise>Eigenname[Typ="MWA-Konstituente"]:before   { content: "MWA-Konstituente ist (Eigenname) ↗"; }

Verweise>Verweis_extern[Typ="Enzyklopädie"]:before  { content: "Enzyklopädieartikel ↗"; }
Verweise>Verweis_extern[Typ="Etymologie"]:before    { content: "externer Etymologieartikel ↗"; }
Verweis[Typ="mehr_sv"]:before                       { content: "↗"; }    /* Etym. */ 

/********************************************************************
 * Ab hier folgen alle Sonderfälle der Darstellung.
 * Normalerweise sollte hier sehr selten etwas ergänzt werden müssen.
 ********************************************************************/

Rohdaten {
	border-color: #f00;
	border-width: 2px;
}

/* Lesartennummerierung.
   Achtung: so implementiert funktioniert das nur auf 3 Ebenen */

Artikel {
    counter-reset: sense;
}

Artikel > Lesart::before {
    content: 'Lesart ' counter(sense);
    counter-increment: sense;
    counter-reset: subsense;
}

Artikel > Lesart > Lesart::before {
    content: 'Lesart ' counter(sense) ' ' counter(subsense, lower-latin) ')';
    counter-increment: subsense;
    counter-reset: subsubsense;
}

Artikel > Lesart > Lesart > Lesart::before {
    content: 'Lesart ' counter(sense) ' ' counter(subsense, lower-latin) ') ' counter(subsubsense, lower-latin) ')';
    counter-increment: subsubsense;
}

/* Markierung von Definitionen */
Definition { font-weight: bold; }

/* Markierung von Lemmazeichen */
Schreibung { font-size: xx-large; }
Schreibung[Typ="R"] { color: blue; }
*[Typ="U"], *[Typ="U_Falschschreibung"], *[Typ="U_CH"], *[Typ="U_AT"] {
	color: red;
}
*[Typ="U"], *[Typ="U_Falschschreibung"] {
	text-decoration: line-through;
}
Schreibung[Typ]:after {
	color: black;
	text-decoration:none;
	-oxy-append-content:attr(Typ)" ";
}

/* farbliche Markierung für grammatische und syntagmatische Angaben */
Grammatik, Syntagmatik, Aussprache { color: maroon; }

/* Markierung von Kollokationsrelationen*/
Kollokation:after {
	-oxy-append-content:"SYN: ["attr(syntaktische_Relation)"] ";
	/*-oxy-append-content:"SEM: ["attr(semantische_Relation)"] ";*/
	white-space: -oxy-trim-when-ws-only;
	color:blue;
	font-size: 80%;
}

/* farbliche Markierung und kompakte Darstellung von Verweisen */
Verweis > *, Verweis_extern > * {
	color: blue;
	display: inline;
	padding-left: 0.5em;
}
Kommentar > Orthografieregel {
    color: blue;
    display: inline;
    padding-right: 0.5em;
}
Ziellemma:before {
	content: attr(hidx); /* Homographenziffer */
	font-size: 80%;
	vertical-align:top;
	color: blue;
}

/* Sonderfall: überschriebene Anzeigeformen */
Ziellemma[Anzeigeform] { text-decoration: line-through; }
Ziellemma[Anzeigeform]:after {
	content: attr(Anzeigeform);
	text-decoration: none;
}

/* spezielle Darstellung für eingebettete Verweise */
Definition>Verweis, Paraphrase>Verweis, Diachronie>*>Fundstelle>* { display: inline; }
Definition Verweis:before { content: "↗"; }

/* keine Lesart für morphologische Verweise */
Artikel>Verweise>Verweis>Ziellesart { display: none; }

/* etymologische Verweise im Diachronieteil */
Diachronie>Verweise>Verweis { display: block; }

/* Markierung von Fundstellenangaben */
Fundstelle { color:blue; }
Fundstelle:after { content:attr(Fundort); color:green; font-size: 80%; line-height: normal; vertical-align: sub; }

/* strukturierte Fundstellenangaben */
Fundstelle > * { display: block; }
Fundstelle > *:before {
	color: gray;
	margin-left: 2em;
}
Fundstelle > Autor:before { content: "Autor: " }
Fundstelle > Herausgeber:before { content: "Herausgeber: " }
Fundstelle > Titel:before { content: "Werkstitel: " }
Fundstelle > Stelle:before { content: "Stelle: " }
Fundstelle > Datum:before { content: "Datum: " }
Fundstelle > URL:before { content: "URL: " }
Fundstelle > Aufrufdatum:before { content: "Aufrufdatum: " }

/* Belegtextauszeichnungen */
Stichwort {
	color: red;
	display:inline;
	font-weight: bold;
	white-space: nowrap;
}
Belegtext > Paraphrase:before { content: "(="; }
Belegtext > Paraphrase:after { content: ")"; }
Belegtext > Paraphrase {
	color: black;
	font-style: italic;
	display: inline;
}
Streichung {
	display: inline;
	text-decoration: line-through;
}
Loeschung {
	display: inline;
	color: white;
}
Autorenzusatz {
	display:inline;
	font-style: italic;
}
Autorenzusatz:before { content: "["; }
Autorenzusatz:after { content: "]"; }
Hervorhebung {
	display:inline;
	font-style: italic;
	white-space: nowrap;
}

/* farbliche Markierung für diasystematische Angaben */
Frequenzangabe { color: green; }
Fachgebiet, Stilebene, Stilfaerbung, Sprachareal, Sprachraum, Gebrauchszeitraum, Bedeutungsebene, Gruppensprache { color: green; }

/* wortgeschichtliche Prosatexte */
Diachronie > * > *, Kommentar > * { display: inline; }

erwaehntes_Zeichen {
	color: red;
	font-weight: bold;
	white-space: nowrap;
}
erwaehntes_Zeichen:after  {
	font-weight: normal;
	font-size: 0.8em;
	vertical-align:bottom;
	content:attr(Sprache);
}

Paraphrase  { text-decoration: underline; }
Paraphrase:before { content: "‘"; text-decoration: none; }
Paraphrase:after { content: "’"; text-decoration: none; }

/* Quelle, Zeitstempel und Status */

Artikel[Typ]:before { -oxy-append-content:" ["attr(Typ)"] "; }
Artikel[Status]:before { -oxy-append-content:" ["attr(Status)"] "; }

*:not(Schreibung)[Zeitstempel]:before { -oxy-append-content:" ["attr(Zeitstempel)"] "; }
*:not(Schreibung)[Quelle]:before { -oxy-append-content:" ["attr(Quelle)"] "; }
*:not(Schreibung)[Autor]:before { -oxy-append-content:" ["attr(Autor)"] "; }

Lesart[Glossar] { -oxy-append-content: " Glossar: "attr(Glossar)" "; }

/* //Schreibung ist ein Spezialfall, wo's dahinter steht */
Schreibung:before {
	content: attr(hidx); /* Homographenziffern */
	font-size: 80%;
	vertical-align: top;
	color: black;
}
Schreibung[Zeitstempel]:after { -oxy-append-content:" ["attr(Zeitstempel)"] "; }
Schreibung[Quelle]:after { -oxy-append-content:" ["attr(Quelle)"] "; }
Schreibung:after { font-size: 50%; font-weight: normal; }

Schreibung[Trennung]:after { -oxy-append-content:" <"attr(Trennung)"> "; }

/* allgemeine Sondermarkierungen via @class */

.invisible { border-right: 2em solid #ff8585; }
.good_example {	border-right: 2em solid green; }
.ungewöhnlich { border-right: 2em solid blue; }
.singular_ungewöhnlich { border-right: 2em solid blue; }
.plural_ungewöhnlich { border-right: 2em solid blue; }
.genitiv_ungewöhnlich { border-right: 2em solid blue; }
.genus_ungewöhnlich { border-right: 2em solid blue; }
.schreibung_ungewöhnlich { border-right: 2em solid blue; }
.schreibung_ungültig { border-right: 2em solid blue; }

Illustration {
	content: url("https://zwei.dwds.de/thumbnails/" attr(Datei));
	margin-left: 1em;
	max-width: 100%;
}
Illustration > Bildunterschrift:before { content: "Bildunterschrift: " }

/* grammatische Wertangaben */
Wert { display: inline; }
