<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%d] --- [%-5level][%-25.25logger{25}] - %msg%n%rEx</Pattern>
        </encoder>
    </appender>
    <logger name="h2database" level="WARN"/>
    <logger name="org.eclipse.jetty.util.log" level="WARN"/>
    <logger name="zdl.lex" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
