<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "../plugin.dtd">
<plugin
    id="zdl-lex-client"
    name="ZDL-Lex-Client"
    description="Access to lexikographic resources of the ZDL"
    version="1.2.4"
    vendor="BBAW"
    class="de.zdl.oxygen.Plugin"
    classLoaderType="preferReferencedResources">

 <runtime>
   <library name="lib/org.zdl.lex.client.jar"/>
 </runtime>

 <extension type="WorkspaceAccess" class="de.zdl.oxygen.Extension"/>

 <extension type="URLHandler" class="de.zdl.oxygen.URLHandler"/>

 <toolbar id="zdl-lex-client-toolbar" initialSide="SOUTH" initialRow="1"/>

 <view id="zdl-lex-results-view" initialSide="SOUTH" initialRow="0"/>

 <view id="zdl-lex-issue-view" initialSide="EAST" initialRow="0"/>
</plugin>
